@{
    Layout = "_OrderLayout";
}

<table id="CurrentStoreOrdersTable" class="table text-center order-table">
    <thead>
    <tr>
        <th>Статус</th>
        <th>Корзина</th>
        <th>Комментарий</th>
        <th>Номер курьера</th>
        <th>Время готовки</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@await Html.PartialAsync("_CancelWindowPartial")
@await Html.PartialAsync("_AcceptWindowPartial")

<script>
    window.onload = function() {
        getCurrentStoreOrders();
        setInterval(checkNewOrder, STATUS_CHECK_INTERVAL);
        setInterval(checkOrderStatus, SERVER_CHECK_INTERVAL_ERROR);
    };
</script>


