html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#ordersTable th {
  vertical-align: middle;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  transform: translateY(1px);
}

.actions-cell{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.order-cancel-button{
  background-color: #d9534f;
  color: white;
}

.order-accept-button{
  background-color: #5cb85c;
  color: white;
}

#statusCell{
  font-weight: bold;
}