.table-striped tbody tr:nth-of-type(odd) {
    background-color: white;
}

.table {
    margin-top: 15px;
    width: 100%;
    
    border-radius: 20px;
    transition: all 0.5s ease;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    
    th {
        background: #e9e9e9;
    }

    td {
        border-radius: 15px;
        padding: 1% 0 1% 0;
    }

    tr:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    td:hover {
        background: #fafafa;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    }

    th:hover {
        background: #e3e3e3;
    }
}


#statusCell {
    font-weight: bold;
}

#basketCell {
    line-height: 1.5;
}

#cancelCell:hover, #actionCell:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    background-color: white;
}



