@model RoomViewModel

@{
    ViewBag.Title = "Чат";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center mb-3">
            <h2>Чат .Net Shawa🥙</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm rounded">
                <div class="card-body p-3">
                    <div class="row mb-3">
                        <div class="col-12">
                            <h5 class="card-title">Диалог с <span id="recipientName">@Model.ChatName</span></h5>
                            <input type="hidden" id="recipientId" value="@Model.RecipientId"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="chat-container" id="messageListContainer">
                                <ul id="messagesList" class="list-group list-group-flush">
                                    <!-- Здесь будут отображаться сообщения -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control" id="messageInput" placeholder="Введите сообщение" aria-label="Введите сообщение" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="sendButton">Отправить</button>
                                </div>
                            </div>
                            <input type="hidden" id="recipientId" value="@Model.RecipientId" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>


    .chat-container {
        height: 400px; /* Настройка высоты блока сообщений */
        overflow-y: auto; /* Добавляем прокрутку по вертикали */
        padding: 10px;
        display: flex; /* Включение flexbox */
        flex-direction: column; /* Расположение элементов по вертикали */
    }

    .list-group-item {
        padding: 10px 15px;
        border: none;
        word-break: break-word;
        flex-shrink: 0; /* Запрещаем элементам сжиматься */
    }

    .list-group-item.me {
        align-self: self-end;
        background-color: #a6ceff; 
        border-radius: 10px 0 10px 10px;
        margin-bottom: 15px;
        padding: 10px 15px;

    }

    .list-group-item.other {
        align-self: self-start;
        background-color: #cae2ff;
        margin-bottom: 15px;
        padding: 10px 15px;
        border-radius: 0 10px 10px 10px;
    }

    .list-group-item.notification {
        text-align: center;
        background-color: #ffffff;
        margin-bottom: 15px;
        padding: 10px 15px;
        
    }
</style>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
