@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HandlerService.Contracts.PaymentRequest

@{
    ViewData["Title"] = "Home Page";
}

<form method="post" action="/payment/payment">
    <div class="form-group">
        <label for="ProductIds">Product IDs:</label>
        <input type="text" id="ProductIds" name="ProductIds" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Comment">Comment:</label>
        <input type="text" id="Comment" name="Comment" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Address">Address:</label>
        <input type="text" id="Address" name="Address" class="form-control" />
    </div>
    <div class="form-group">
        <label for="StoreId">Store ID:</label>
        <input type="text" id="StoreId" name="StoreId" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>