<div id="success-message" class="alert alert-success d-none" role="alert">
    <i class="fas fa-check-circle"></i>
    <span>Успешно!</span>
</div>
<div id="error-message" class="alert alert-danger d-none" role="alert">
    <i class="fas fa-exclamation-triangle"></i>
    <span>Ошибка!</span>
    <div id="error-details"></div>
</div>