@model ProductListViewModel;

@{
}

<style>
    .product-card {
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        transition: transform 0.2s, background-color 0.2s;
        background-color: #f8f9fa; /* светло-серый фон */
    }

    .product-card:hover {
        transform: scale(1.05);
        background-color: #e2e6ea; /* более темный оттенок при наведении */
    }

    .product-card img {
        max-width: 100%;
        height: auto;
    }

    .product-info {
        padding: 15px;
    }
</style>

<div class="container mt-5">
    <h1 class="text-center mb-4">Restaurant Menu</h1>
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-3 mb-4">
                <div class="product-card">
                    <img src="/no-image.svg" alt="Product Image">
                    <div class="product-info">
                        <h5>@product.Title</h5>
                        <p>@product.Description</p>
                        <p>@product.Composition</p>
                        <p>
                            <strong>@product.Price.ToString("C")</strong>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>