@using CourierService.Core.Models.Code
@model CourierViewModel;

@{
    ViewData["Title"] = "Профиль";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Курьер🚲</h1>
    <div class="menu-grid">
        <div class="input-group-append">
            @switch (@Model.Status)
            {
                case CourierStatusCode.NotWork:
                    <button type="button" name="status" value="NotWork" class="btn btn-outline-primary" data-status="NotWork">
                        Не на работе
                    </button>
                    <button type="button" name="status" value="OnWork" class="btn btn-primary" data-status="OnWork">
                        На работе
                    </button>
                    <button type="button" name="status" value="Active" class="btn btn-primary" data-status="Active">
                        Активен
                    </button>
                    break;
                case CourierStatusCode.OnWork:
                    <button type="button" name="status" value="NotWork" class="btn btn-primary" data-status="NotWork">
                        Не на работе
                    </button>
                    <button type="button" name="status" value="OnWork" class="btn btn-outline-primary" data-status="OnWork">
                        На работе
                    </button>
                    <button type="button" name="status" value="Active" class="btn btn-primary" data-status="Active">
                        Активен
                    </button>
                    break;
                case CourierStatusCode.Active:
                    <button type="button" name="status" value="NotWork" class="btn btn-primary" data-status="NotWork">
                        Не на работе
                    </button>
                    <button type="button" name="status" value="OnWork" class="btn btn-primary" data-status="OnWork">
                        На работе
                    </button>
                    <button type="button" name="status" value="Active" class="btn btn-outline-primary" data-status="Active">
                        Активен
                    </button>
                    break;
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
    $(document).ready(function () {
        $('.btn').click(function() {
            var status = $(this).data('status');
            console.log("start to update status: " + status);
            $.ajax({
                url: '@Url.Action("UpdateCourierStatus", "Courier", new { id = @Model.Id })',
                method: 'POST',
                data: { status: status },
                success: function(response) {
                    // Handle success, update UI if needed
                    console.log('Status updated successfully!');
                    showSuccessMessage();
                    window.location.reload();
                },
                error: function(xhr, status, error) {
                    showErrorMessage(xhr.responseText);
                    console.error('Error updating status:', error);
                }
            });
        });
    });
</script>
}