<div id="conformationWindowCancel" class="confirmation-container hidden">
    <div class="dialog-container" id="my-dialog" style="text-align: center">
        <div class="modal-header">
            <h2 class="modal-title">Подтверждение отмены</h2>
        </div>
        <div class="modal-body">
            <textarea id="reason" name="reason" placeholder="Причина отмены заказа (обязательно):"></textarea>
        </div>
        <div class="modal-footer">
            <button id="confirmCancel" class="btn btn-secondary confirm">Да</button>
            <button id="cancelCancel" class="btn btn-primary cancel">Нет</button>
        </div>
    </div>
    <div class="dialog-backdrop"></div>
</div>
