<div id="conformationWindow" class="confirmation-container hidden">
    <div class="dialog-container" id="my-dialog" style="text-align: center">
        <div class="modal-header">
            <h2 class="modal-title">Подтверждение отмены</h2>
        </div>
        <div class="modal-body">
            <textarea id="reason" name="reason" placeholder="Причина отмены заказа (обязательно):"></textarea>
        </div>
        <div class="modal-footer">
            <button id="confirm" class="btn btn-secondary">Да</button>
            <button id="cancel" class="btn btn-primary">Нет</button>
        </div>
    </div>
    <div class="dialog-backdrop"></div>
</div>

<script>
    const openButton = document.getElementById("open-conformationWindow"); // Добавьте кнопку "Открыть"
    const confirmButton = document.getElementById("confirm");
    const cancelButton = document.getElementById("cancel");
    const conformationWindow = document.getElementById("conformationWindow");

    alert(confirmButton)
    function openConformationWindow(){
        conformationWindow.classList.remove("hidden");
        document.getElementById("reason").focus();
    }

    confirmButton.addEventListener("click", () => {
        const reasonTextArea = document.getElementById("reason")
        const reason = reasonTextArea.value;
        if (reason.trim() === '') {
            reasonTextArea.style.borderColor = "red";
            reasonTextArea.style.backgroundColor = "#FFF5F5";
        } else {
            conformationWindow.classList.add("hidden");
            document.getElementById("reason").value = "";
        }
    });

    cancelButton.addEventListener("click", () => {
        conformationWindow.classList.add("hidden");
    });

</script>