@{
}

<h2>Todo // Add update method</h2>
@*<partial name="_EditProduct" model="new EditProductViewModel()"/>*@

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Composition</th>
        <th scope="col">Price</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row"></th>
        <td>
            <input class="form-control-plaintext" value="">
        </td>
        <td>
            <input class="form-control-plaintext" value="">
        </td>
        <td>
            <input class="form-control-plaintext" value="">
        </td>
        <td>
            <input class="form-control-plaintext" value="">
        </td>
        <td style="text-align: center">
            <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="">Save</a>
        </td>
        <td style="text-align: center">
            <a class="btn btn-sm btn-danger" asp-action="Index">Cancel</a>
        </td>
    </tr>
    </tbody >
</table>