@model OrdersViewModel

@{
    ViewBag.Title = "Заказы";
    Layout = "_Layout";
}

<h2>Orders</h2>

<table id="ordersTable" class="table table-striped table-bordered table-hover text-center" style="width: 100%; vertical-align: middle;">
    <thead>
    <tr>
        <th>Статус</th>
        <th>Корзина</th>
        <th>Комментарий</th>
        <th>Аддресс клиента</th>
        <th>Номер курьера</th>
        <th>Номер клиента</th>
        <th>Цена</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@await Html.PartialAsync("_CancelWindowPartial")

<script>
    window.onload = function() {
        getOrders();
        setInterval(checkOrderStatus, STATUS_CHECK_INTERVAL);
    };
</script>
